@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}
body{
  display: flex;
  justify-content: center;
  background-color: #0e0e0e;
  height: 100vh;
}

main{
  display: grid;
  grid-template-areas:"game shop";
  user-select: none;

}

section.game{
  position: relative;
  grid-area: game;
  height: fit-content;
  overflow: hidden !important;
}

canvas {
  background-image: url('./img/background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: cover; 
}

section.game .score{
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: rgba(27, 27, 27, 0.489);
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
}

section.game .score h1{
  transform: translateY(5px);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 35px;
  font-weight: 600;
  text-shadow: 0 0 15px  black;
}
section.game .score p{
  transform: translateY(-2px);
  color: white;
}